
html  {
    background: linear-gradient(to right, grey 0%, grey 1%, white 30%, white 100%)
}

.sunny {
    background: radial-gradient(circle, yellow, white, white);
    height:300px;
    width:300px;
    position: absolute;
    top:-55px;
    right:-50px;
    border-radius: 50%;
}

header  {
    height:200px;
    padding-top: 100px;
}

hgroup  {
    text-indent: 20px;
}

hgroup h1    {
    font-size:3em;
    line-height:60%;
    color: #353F66;
    font-family: 'San Frediano';
}

hgroup h2   {
    font-size:1em;
    text-indent: 100px;
    line-height: 40%;
    padding-bottom: 20px;
    font-family: 'helvetica';
    text-transform: uppercase;
}

nav {
    align-items: center;
    height:1.5em;
    padding-top:1em;
    font-size:1.1em;
    position:absolute;
    right:0;
    left:0;
}

nav ul{
    margin:0;
    padding:10;
    list-style:none;
    background-color: #353F66;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: .8em;
}

nav li{
    width: 340px;
    display:inline-block;
    text-align:center;
}

aside   {
    float: top;
    padding-top: 60px;
    margin-right: 100px;
    margin-top: 140px;
    float:right;
    font-size: 1.5em;
    color: #353F66;
    font-style: bold;
    font-style: italic;
}

img   {
    margin-top: 30px;
    float:left;
    margin-left: 45px;
    border-radius: 20pt;
}

figure1   {
    background-image: "/Users/kyleackley/Desktop/Projects/blacknwhite.jpeg";
    height: 300px;
    width:  480px;
    position: absolute;
}

figure2:hover  {
    background-image: "/Users/kyleackley/Desktop/Projects/happy.jpg";
    height: 300px;
    width: 480px;
    position: absolute;
}

body  {
    font-family:'sans-serif';
    position: relative;
    margin: 0;
}

a:active {
    background-color: yellow;
}
